.bod {
    background-color: aquamarine;
}

article{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

section{
    margin: auto;
    width: 80%;
    height: 10rem;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one{
    width: 25%;
    height: 50%;
    background-color: red;
}

.two{
    width: 25%;
    height: 50%;
    background-color: orange;
}

.three{
    width: 25%;
    height: 50%;
    background-color: yellow;
}